input {
    width: 100%;
    font-size: 16px;
}

.wrapper {
    display: flex;
    padding: 20px 30px;
    background: silver;
}

.submit-btn {
    border: none;
    border-radius: 3px;
    padding: 4px 12px;
    background: #0f860f;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.5s;
}

.submit-btn:hover {
    background: #3ddc3d;
    transition: background-color 0.1s;
}

.label-box {
    padding-top: 4px;
    margin-right: 5px;
}

.input-box {
    width: 335px;
    margin-right: 30px;
}

.warning {
    margin-top: 5px;
    margin-bottom: 0;
    color: red;
}

.submit-input-box {
    margin: 0 auto;
}
