.user {
    padding: 30px;
    margin-bottom: 30px;
    color: #000000;
    background: #dafbff;
}

.user > button {
    padding: 8px 15px;
    border: none;
    color: #ffffff;
    background: #fe5f01;
    font-size: 16px;
    transition: background-color 0.8s;
}

.user > button:hover {
    background: #f0a274;
    transition: background-color 0.2s;
}
