.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    padding: 3px 20px 20px;
    background: #c5e3cb;
}

.user-details-btn {
    width: 150px;
    padding: 6px;
    border: none;
    background: #002049;
    color: #ffffff;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.5s;
}

.user-details-btn:hover {
    background: #2c4c75;
    text-decoration: underline;
    transition: background-color 0.1s;
}
