.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 695px;
    padding: 4px 20px 20px;
    background: #ededed;
}

.edit-btn {
    background: #5c9ded;
    margin-left: 423px;
}

.delete-btn {
    margin-left: 20px;
    background: #f57c4f;
}
